html, body {
  height: 100%;
}

.headerContact {
  font-size: 15px;
}

rect {
  stroke-width: 2;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 25%;
  background-color: #f5f5f5;
}

.footerContact {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 5%;
  background-color: #f5f5f5;
}

.jumbotron {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

.textContact {
  padding: 25px 80px 25px 80px;
}

.legend {
  font-size: 10px;
}

.legendCivil {
  font-size: 10px;
}
.customtooltip {
  box-shadow: 0 0 5px #999999;
  display: none;
  font-size: 12px;
  padding: 10px;
  position: fixed;
  text-align: center;
  pointer-events: none;
  width: 80px;
  z-index: 10;
  line-height: 140%; /*Interlineado*/
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.label {
  font-weight: 600;
}

.gender {
  font-weight: 400;
}
.province {
  font-weight: 600;
}

.states {
  fill: #119bc5;
  stroke: #fff;
  stroke-width:0.5px;
}

.state-borders {
  fill: none;
  stroke: rgb(25, 193, 235);
  stroke-width: 0.1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

#toprow {
  height: calc(75% - 56px);
  width: 100%;
  margin: 0;
}

#ex1Slider .slider-selection {
	background: #97caf6;
}

#botrow {
  background-color: rgb(33, 37, 41);
  padding-left: 5%;
  padding-right: 5%;
}

#year {
  position: absolute;
}
/*BarChartDeathCause Variables*/
.bar {
  fill: steelblue;
}
.bar:hover {
  fill: brown;
}
.bar_text {
  fill: black;
  font: 9px sans-serif;
}
.axis--y path {
  }
.axis--x path {
}
.axis line {
  fill: blue;
  stroke: blue;
  shape-rendering: crispEdges;
}

<<<<<<< HEAD

=======
>>>>>>> f082f808989d11fc11f28b9d0d852f35a1951288
.line {
  fill: steelblue;
  stroke: white;
  stroke-width: 2px;
}

.xaxis text{
  fill: white;
}
  /*END BarChartDeathCause Variables*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
